/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/


* {
  border: 1px solid darkgreen;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  display: flex;
  padding: 1.5% 5% 0;
}

.logo {
  width: 30%;
  margin: 0;
  align: center;
}

#interactive_elements{
  display: flex;
  flex-direction: column;;
}

.nav-menu {
  /* padding: 0 1rem; */
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  width: 70%;
}

.nav-menu li {
  padding: 1rem;
}

.nav-menu a{
  font-size: 1.0rem;
  text-decoration: none;
  /* color: #c47f5f; */
  color: #243459;
  /* padding: 0.75rem; */
}

.nav-menu a:hover{
  text-decoration: line-through;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1{
  font-style: italic;
  font-weight: lighter;
}

h2 {
  font-size: 2.00rem;
  /* margin-top: 0.5rem; */
}

h3 {
  color: darkgrey;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 0.8rem;
}

h4 {
  font-weight: bold;
  color: #243459;
  /* color: #c47f5f;  beige color */
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  margin-top: 1.0rem;
}

p {
  font-size: 0.9rem;
  margin-top: 0;
  max-width: 1000px;
}

.event{
  padding-top: 4rem;
}

.event h3{
  text-align: left;
  padding-left: 7rem;
}

.event_main{
  display: flex;
  padding: 0 7rem;
}

.event_img{
  padding-top: 0.5rem;
  width: 50%;
}

.event_content p{
  /* padding-bottom: 0; */
  width: 80%;
  bottom: 0;
}

.bottom {
    background-color: rgb(245, 245, 245);
    height: 8rem;
    padding-top: 4rem;
    display: flex;
    flex-flow: wrap;
    align-self: center;
    justify-content: center;
}

a.footer-button {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(80,80,80);
    text-decoration: none;
    padding: 1rem;
    max-width: 40rem;
}

.credit {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* nav a:hover, nav a:focus {
  text-decoration: none;
} */

/*-----STYLE GUIDE-----*/

#in-text-link a{
  font-size: 1.0rem;
  color: #c47f5f;
  text-decoration: none;
}

#in-text-link a:hover{
  text-decoration: line-through;
}

/* #image-link a{
  color:red;
}

#image-link a:hover, a:focus{
  background-color: blue;
  text-decoration: none;
} */

input:hover{
  background-color: #e1bfaf;
}
input:focus{
  background-color: white;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

.product-img {
  position: relative;
  width: 50%;
}

.collection-img{
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  color:#C47F5F;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #4CAF50;
  background-color: lightgrey;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.product-img:hover .image {
  opacity: 0.3;
}

.collection-img:hover .image {
  opacity: 0.3;
}

.product-img:hover .middle {
  opacity: 1;
}

.collection-img:hover .middle {
  opacity: 1;
}


.button {
  background-color: #C47F5F;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {opacity: 1}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label:before {
  content: "";
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 5px;
  height: 5px;
  padding: 4px;
  margin-right: 4px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked + label:before {
  background-color: #C47F5F;
}

/* optional styles, I'm using this for centering radiobuttons */
label {
  display: flex;
  align-items: center;
}
/* citation:https://www.w3schools.com/howto/howto_css_image_overlay.asp */


/* produc web page css */

.row {
  display: flex;
  margin-top: 1.0rem;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.name-tag{
  text-align: center;
  margin-top: 0.5rem;
}

.price-tag{
  text-align: center;
  margin-top:-0.75rem;
}

/* checkout web page css */

.container{
  display: flex;
  flex-direction: column;
}

.cart p{
  margin-top: -1rem;
  display: inline-block;
  position: relative;
}

.cart-img{
  vertical-align: middle;
  margin: 1.0rem;
  display:inline-block;
  float:left
}

/* .payment .control-label{
  text-align: left;
  display: flex;
  flex-direction: column;
}

.payment{
  text-align: left;
  display: flex;
  flex-direction: column;
} */

.payment{
  padding: 0.5rem;
}
.controls{
  max-width: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.about_main{
  padding: 10%;
  display: flex;
  flex-direction: row;
}

.about_content{
  /* display: flex; */
  /* flex-direction: row; */
  padding: 2%;
  padding-left: 7.0rem;
  max-width: 50%;
}

.about_img{
  /* padding-top: 1.5rem; */
  /* padding: 10%; */
  /* max-width: 25%; */
  /* display: flex; */
}

/*
  CONTACT PAGE css -------------------
*/
.contact-container {
  margin: 1.8rem 8%;
}

.info-container {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  padding-left: 5%;
}

.contact-img {
  width: 35%;

}

.info-content-container {
  margin-left: 5rem;
  margin-top: 5%;
}

.message-container {
  margin: 3rem 10%;
}

#contact-form {
  text-align: center;
  padding-top: 1rem;
}

.form-element {
  margin: 0.8rem 0;
}

.label {
  padding: 0.2rem;
  padding-right: 1rem;
  display: inline-block;
  width: 10%;
  font-size: medium;
  color: #243459;
}

input[type=text], input[type=email] {
  /* border: 0.05rem solid rgb(90,90,90); */
  padding: 0.4rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 70%;
  outline: none;
  transition: border 0.4s;
}

#contact-form textarea {
  width: 70%;
  padding: 0.4rem 0.5rem;
  margin-right: 0;
  /* border: 0.05rem solid rgb(90,90,90); */
  outline: none;
  resize: none;
}

/* -------------------*/
